
.main, .hero
    padding: 5%
  
.hero
  &__header
    div
      color: $veryDarkCyan
      letter-spacing: 10px
      font-size: 30px

.main
  background-color: $white
  border: solid white 2px
  border-radius: 30px

  & > *
    margin-bottom: 50px

  .bill
    &__header
      h3
        color: $darkGrayishCyan-2
        font-size: 20px

    &__input-wrapper
      @include flex-row (space-between, center)
      height: 50px
      background-color: $lightGrayishCyan-2
      border-radius: 10px

    &__icon
      height: 100%
      width: 15%
      background-image: url(../../../src/images/icon-dollar.svg)
      background-repeat: no-repeat
      background-size: 25%
      background-position: center center

 
    &__input
      border: solid transparent 1px
      width: 90%
      height: 100%
      text-align: end
      background-color: transparent
      color: $veryDarkCyan
      font-size: 30px
      font-weight: 700
      outline: transparent

  .tip-selection, .number-of-people
    &__header
      h3
        color: $darkGrayishCyan-2
        font-size: 20px


.tip-selection
  height: max-content
  &__buttons
    display: grid
    grid-gap: 20px
    grid-template-columns: auto auto


.number-of-people
  &__input-wrapper
    @include flex-row (space-between, center)
    height: 50px
    background-color: $lightGrayishCyan-2
    border-radius: 10px

  &__icon
    height: 100%
    width: 15%
    background-image: url(../../../src/images/icon-person.svg)
    background-repeat: no-repeat
    background-size: 25%
    background-position: center center

 
  &__input
    border: solid transparent 1px
    width: 90%
    height: 100%
    text-align: end
    background-color: transparent
    color: $veryDarkCyan
    font-size: 30px
    font-weight: 700
    outline: transparent




.tip 
  background-color: $veryDarkCyan
  color: $strongCyan
  border-radius: 20px
  padding: 30px 20px

  & > *
    margin-bottom: 30px

  &__amount-header, &__total-header
    color: $white
  
  &__total-type, &__amount-type
    color: $darkGrayishCyan-2

  &__amount, &__total
    display: grid
    grid-template-columns: auto auto

  div
    grid-column: 1
    grid-row: 1

  &__amount-text, &__total-text
    grid-column: 2
    grid-row: 1
    text-align: right

  &__rest-button-wrapper
    @include flex-row (center, center)
    width: 100%
