@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap')



body, html, #root
  padding: 0
  margin: 0
  font-size: $font-size-m
  background-color: $lightGrayishCyan-1
  font-family: 'Space Mono', 'sans-serif'
  @include breakpoint-up (medium)

h1, h2, h3, h4, h5, h6
  margin: 5px


*, *::before, *::after
  box-sizing: border-box



.container
  @include flex-column (center, center)
  padding: 0



.hide-desktop
  @include breakpoint-up (medium)
    display: none

.hide-mobile
  @include breakpoint-down (small)
    display: none


