@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/* breakpoints */
/* flex box rules */
body, html, #root {
  padding: 0;
  margin: 0;
  font-size: 18px;
  background-color: #c5e4e7;
  font-family: "Space Mono", "sans-serif";
}
h1, h2, h3, h4, h5, h6 {
  margin: 5px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

@media (min-width: 640px) {
  .hide-desktop {
    display: none;
  }
}

@media (max-width: 639px) {
  .hide-mobile {
    display: none;
  }
}

.main, .hero {
  padding: 5%;
}

.hero__header div {
  color: #00494d;
  letter-spacing: 10px;
  font-size: 30px;
}

.main {
  background-color: white;
  border: solid white 2px;
  border-radius: 30px;
}
.main > * {
  margin-bottom: 50px;
}
.main .bill__header h3 {
  color: #7f9c9f;
  font-size: 20px;
}
.main .bill__input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: #f4fafa;
  border-radius: 10px;
}
.main .bill__icon {
  height: 100%;
  width: 15%;
  background-image: url(../../../src/images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: center center;
}
.main .bill__input {
  border: solid transparent 1px;
  width: 90%;
  height: 100%;
  text-align: end;
  background-color: transparent;
  color: #00494d;
  font-size: 30px;
  font-weight: 700;
  outline: transparent;
}
.main .tip-selection__header h3, .main .number-of-people__header h3 {
  color: #7f9c9f;
  font-size: 20px;
}

.tip-selection {
  height: max-content;
}
.tip-selection__buttons {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto;
}

.number-of-people__input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: #f4fafa;
  border-radius: 10px;
}
.number-of-people__icon {
  height: 100%;
  width: 15%;
  background-image: url(../../../src/images/icon-person.svg);
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: center center;
}
.number-of-people__input {
  border: solid transparent 1px;
  width: 90%;
  height: 100%;
  text-align: end;
  background-color: transparent;
  color: #00494d;
  font-size: 30px;
  font-weight: 700;
  outline: transparent;
}

.tip {
  background-color: #00494d;
  color: #26c0ab;
  border-radius: 20px;
  padding: 30px 20px;
}
.tip > * {
  margin-bottom: 30px;
}
.tip__amount-header, .tip__total-header {
  color: white;
}
.tip__total-type, .tip__amount-type {
  color: #7f9c9f;
}
.tip__amount, .tip__total {
  display: grid;
  grid-template-columns: auto auto;
}
.tip div {
  grid-column: 1;
  grid-row: 1;
}
.tip__amount-text, .tip__total-text {
  grid-column: 2;
  grid-row: 1;
  text-align: right;
}
.tip__rest-button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.tip-selection__button, .button {
  border: solid transparent 1px;
  background-color: #00494d;
  font-size: 30px;
  color: white;
  font-weight: 700;
  border-radius: 10px;
  padding: 10px;
}
.tip-selection__button:hover, .tip-selection__button:active, .button:hover, .button:active {
  background-color: #26c0ab;
  color: #00494d;
}

.tip-selection__button_custom {
  background-color: #f4fafa;
  color: #5e7a7d;
}

.tip__reset-button {
  width: 100%;
  background-color: #26c0ab;
  color: #00494d;
}

/*# sourceMappingURL=style.css.map */
